openapi: 3.0.0
info:
  version: 1.0.0
  title: Online Go Server REST API

servers:
  - url: https://online-go.com/api/v1
  - url: https://beta.online-go.com/api/v1

components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: /oauth2/authorize
          scopes: {}

security: 
  - oauth2: []

paths:
  /me:
    get:
      responses:
        '200':
          description: "Successful response"
          content:
            application/json:
              schema:
                type: object
                required:
                  - username
                  - id
                properties:
                  username:
                    type: string
                  id:
                    type: integer
  /me/challenges/{id}:
    get:
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: number
      responses:
        '200':
          description: "Successful response"
          content:
            application/json:
              schema:
                type: object
                required:
                  - username
                  - id
                properties:
                  username:
                    type: string
                  id:
                    type: integer
  /ui/config:
    get:
      responses:
        '200':
          description: "Successful response"
          content:
            application/json:
              schema:
                type: object
                required:
                  - chat_auth
                  - user_jwt
                  - user
                properties:
                  chat_auth:
                    type: string
                  user_jwt:
                    type: string
                  user:
                    type: object
                    required:
                      - username
                      - id
                    properties:
                      username:
                        type: string
                      id:
                        type: integer
  /challenges:
    post:
      responses:
        '200':
          description: "Successful response"
          content:
            application/json:
              schema:
                type: object
                required:
                  - challenge
                  - game
                  - status
                properties:
                  challenge:
                    type: number
                  game:
                    type: number
                  status:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - initialized
                - min_ranking
                - max_ranking
                - challenger_color
                - aga_ranked
                - game
              properties:
                initialized:
                  type: boolean
                min_ranking:
                  type: integer
                max_ranking:
                  type: integer
                challenger_color:
                  type: string
                aga_ranked:
                  type: boolean
                game:
                  type: object
                  required:
                    - name
                    - rules
                    - ranked
                    - width
                    - height
                    - handicap
                    - komi_auto
                    - komi
                    - disable_analysis
                    - initial_state
                    - private
                    - time_control
                    - pause_on_weekends
                    - time_control_parameters
                  properties:
                    name:
                      type: string
                    rules:
                      type: string
                    ranked:
                      type: boolean
                    width:
                      type: integer
                    height:
                      type: integer
                    handicap:
                      type: integer
                    komi_auto:
                      type: string
                    komi:
                      type: number # unknown, value was null
                      nullable: true
                    disable_analysis:
                      type: boolean
                    initial_state:
                      type: number # unkown, value was null
                      nullable: true
                    private:
                      type: boolean
                    time_control:
                      type: string
                    pause_on_weekends:
                      type: boolean
                    time_control_parameters:
                      type: object
                      required:
                        - system
                        - speed
                        - per_move
                        - pause_on_weekends
                        - time_control
                      properties:
                        system:
                          type: string
                        speed:
                          type: string
                        per_move:
                          type: number
                        pause_on_weekends:
                          type: boolean
                        time_control:
                          type: string
